{% extends 'base.html' %} {% block content %}
<style>
  .nicebutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline;
    position: relative;
    top: 100px;
  }
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline;
    position: relative;
  }
</style>
<center>
  <h1 style="font-size: 50px">My detectron2 model:</h1>
  <div
    style="
      width: 1000px;
      margin: 0.2rem auto;
      font-family: 'Inter', sans-serif;
      font-weight: normal;
    "
  >
    <h2
      style="
        color: black;
        font-size: 2rem;
        line-height: 3rem; /* reduce size to remove gap between text */
        margin: 0px;
      "
    >
      For a part of my project in the subject Computer vision and deep
      learning, I transfer learned a detectron2 object detection model. Here you can input an
      image, and the detectron2 model will detect objects in the pictures (only
      certain classes like cars, bicycles, person etc). Since the object detector is not working at the
      moment, you can see a video of hit below:

    </h2>
    <button 
    onclick="location.href='https://youtu.be/KktsK7I_37s'"
    type="button"
  >
    To video showcase of object detection model
  </button>
    
  </div>

  <h2 style="position: relative; top: 10px">
    Here you would be able to upload and image, and the detector would detect different objects in the image, and put a box around them.
    The object detector is made (you can see the code on my github), but I had a lot of problems implementing it into this website, I therefore
    made a short youtube video showcasing the object detector (while I try to fix the problem). You can see that video by pressing the link above, and you can check out the code with the link below.
    The repository contains both code for the detectron2 object detector I transfer learned, as well as code from other parts from the project (in the DDL folder). 
    </h2>
    <button 
    onclick="location.href='https://github.com/EivindKjosbakken/CV-DL-Project/tree/master'"
    type="button"
  >
    To github repository containing the code for the object detector
  </button>
<!--
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
{% if img_obj %}
  <h3>Succesfully uploaded</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
</body>
-->
</html>

{% endblock %}