{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline;
    position: relative;
    top: 100px;
  }
  .box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 4px solid black;
    background-color: grey;
    clear: both;
    width: 200px;
    height: 200px;
  }
  h2 {
    color: white;
    position: relative;
    bottom: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
      0 -0.07em black;
  }
  .container {
    margin: auto;

    width: 700px;
    height: 5000px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .first {
    float: left;
    width: 250px;
    height: 250px;
    background-color: grey;
    border: solid black;
    background-size: contain;
    background-image: url("{% static 'mysite/images/lifesimGamePic.jpg' %}");
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  .second {
    float: left;
    width: 250px;
    height: 250px;
    background-color: grey;
    border: solid black;
    margin-left: 30px;
    background-image: url("{% static 'mysite/images/detectron2image.jpg' %}");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .third {
    float: left;
    width: 250px;
    height: 250px;
    background-color: grey;
    border: solid black;
    margin-left: 0px;
    background-image: url("{% static 'mysite/images/picOfWarehouse.jpg' %}");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px
    
  }
</style>
<h1></h1>

<div class="container">
  <div>
    <a href="/projectList/lifesimGameShowcase">
      <div class="first" style="float: left" class="box">
        <h2>Unity game</h2>
      </div>
    </a>
  </div>

  <div>
    <a href="/projectList/detectron2Showcase">
      <div class="second" style="float: right" class="box">
        <h2>Detectron 2 object detector</h2>
      </div>
    </a>
  </div>
  <div>
    <a href="/projectList/warehouseSimulationShowcase">
      <div class="third" style="float: left" class="box">
        <h2>Warehouse simulator</h2>
      </div>
    </a>
  </div>
</div>

{% endblock %}